<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/gymi-favicon-white.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" src="frontend/styles/style.css">
    <title>gym & i</title>

</head>

<body class="font-[Poppins] bg-gradient-to-t bg-slate-400">
    <header class="md:sticky top-0 z-10 bg-white bg-opacity-50 border-gray-200 border-b-1 md:backdrop-blur-lg">
        <nav class=" flex justify-between items-center w-[92%] mx-auto">
            <div class="flex">
                <img class="w-14 cursor-pointer" src="../images/gymi-high-resolution-logo-black-transparent (1).png" alt="...">
                <!-- <a href="#" class="hidden md:inline-block"><img src="frontend/images/gymi-high-resolution-logo-transparent (2).png" alt="Logo" class="w-24 pt-4"></a> -->
              </div>
            <div
                class="nav-links z-20 duration-500 md:static absolute md:bg-transparent bg-opacity-90 bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="/">Home</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="/about">About</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Offers</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button class="bg-gray-800 text-white px-5 py-2 rounded-full hover:bg-gray-700">Sign in</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>
    <main id="Home">
      <section class="container-mt-20  md:h-full">
        <div class="flex flex-col items-center z-10 md:flex-row">
          <div class="relative">
            <nav class="flex z-20 absolute rounded-full bg-white bg-opacity-60 mt-2 w-[35%] ml-[35%] mr-[30%]">
              <section class="w-full h-10 flex items-center">
                <!-- Search icon container -->
                <span class="w-10 h-full hidden md:flex items-center">
                   <i class="uil uil-search-alt text-xl text-blue-800"></i>
                </span>
                <!-- Input -->
                <input type="text" class="w-full bg-transparent h-full font-medium  ml-2 md:pl-2 focus:outline-none searchInput"
                   placeholder="Search what you want ...">
                   <button
                   class="w-28 h-full bg-gray-800 hover:bg-gray-700 flex justify-center items-center rounded-full text-white font-medium">Search</button>
             </section>
            </nav>
            <img src="frontend/images/pexels-olly-3838389.jpg" alt="bg" class="max-w-full">
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="bg-white bg-opacity-30 rounded-lg mr-[50%] text-center">
                <h1 class="md:text-3xl font-bold md:py-2 text-xl">Your personal gym concierge</h1>
                <p class="py-2 text-xs md:text-xl">oshdjoiljco osndcjhbs kncbsjkcnls knckjnsdk knsckjoidnccsonck ksdjnckjnsdkncckjsdkc
                  cnidsodicndoincisnckmslncsnpocsoc ncj enksck ncjkn iksencjkn  knejsc jc  coz jkjk d sdj jc
                  dsnckdsjcsdbckjd 
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>

      <section class="container-mt-20 md:h-full" style="height: 900; align-content: center;">
        <div class="flex flex-row items-center z-10 md:flex-row">
          <div class="swiper tranding-slider relative flex flex-wrap">
            <div class="swiper-wrapper w-full">
              {% for gym in data %}
              <div style="width: 600px;" class="swiper-slide tranding-slide">
                <div class=" bg-white border border-gray-200 rounded-lg  dark:bg-gray-400 dark:border-gray-700 image-{{ loop.index }}" id="{{ gym.id }}">
                  <a class="">
                    <img src="{{ gym.profile_picture }}" alt="{{ gym.name }}" class="">
                  </a>
                  <div class="py-2 px-2">
                    <h5 class="">{{ gym.name }}</h5>
                    <p>{{ gym.description }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
            <div class="tranding-slider-control w-full">
              <div class="swiper-button-prev slider-arrow">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>
              <div class="swiper-button-next slider-arrow">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>  

    </main>


  
    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e){
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="frontend/scripts/script.js"></script>

    
</body>
<footer>
</footer>
</html>